*.aux
*.bbl
*.blg
*.log
*.out
*.sync*
*.fdb_latexmk
*.fls
*.4ct
*.4tc
*.dep
*.dvi
*.idv
*.lg
*.log
*.xcp
*.xref
*.html
*.tmp
*.css
*-.png
*.cut
*.tar.gz

paper.pdf

.DS_Store

# exclude exports
source/
diff/
pdf/
html/



